.app-list {
    background-color: #3d5a80;
    border-radius: 4px;
    box-shadow: 15px 15px 30px rgba(0, 0, 0, .15);
    color: #fff;
}

.list-header {
    background-color: tan;
    padding: 13px 13px;
    border-bottom: 1px solid #3d5a80;
}

.list-header span {
    line-height: 17px;
    font-size: 17px;
    width: 280px;
}

.list-header .short {
    width: 100px;
}

.list-header .name {
    width: 200px;
}

.list-header .long {
    width: 300px;
}

.list-header button {
    background-color: tan;
    width: 35px;
    height: 35px;
    margin: 3px;
    font-size: 17px;
    border: none;
}

.list-header .btn-trash {
    color: #e5383b;
} 

.list-header .btn-archive {
    color: #e09f3e;
} 

nav ul{height:500px; width:100%;}
nav ul{overflow:hidden; overflow-y:scroll;}
